<!DOCTYPE html>
<html lang="en">

    
    <!--- Etiquetas Meta --->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mantenimiento">


    <!--- Icon --->
    <link rel="icon" href="/assets/img/logo.png">


    <!--- My CSS --->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/mantenimiento.css">



    <!--- Boostrap CSS --->

    
    <title>Mantenmiento</title>



</head>
<body id="mant">

    <div class="mantenimiento">
        <h1 class="titulo_mantenimiento">SITIO WEB EN <br>CONSTRUCCIÓN</h1>
        
     
    </div>  
    
    <script src="/assets/js/mantenimiento.js"></script>


</body>
</html>