<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
  
    <link rel="stylesheet" href="/assets/css/quien.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

<!--- BoxIcons --->

<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="container">
    <input type="radio" name="dot" id="one">
    <input type="radio" name="dot" id="two">
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
               <img src="/assets/img/gerardo.jpg" alt="">
    
           </div>
           <div class="details">
             <div class="name">GERARDO MOSQUERA</div>
             <div class="job">ABOGADO - MEDIADOR</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/assets/img/cesar.jpg" alt="">
        
           </div>
           <div class="details">
             <div class="name">CÉSAR BLAS GARCIA</div>
             <div class="job">ABOGADO - MEDIADOR</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
     
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/assets/img/mariana.jpg" alt="mariana">
        
           </div>
           <div class="details">
             <div class="name">MARIANA MOSQUERA</div>
             <div class="job">FACILITADORA DE NUEVAS CONSTELACIONES FAMILIARES</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
            
           </div>
         </div>
        </div>
      </div>
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/assets/img/glenda.jpg" alt="">
            
           </div>
           <div class="details">
             <div class="name">GLENDA BELÉN RAYMUNDO</div>
             <div class="job">- MÉDICA.</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
          
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/assets/img/veronica.jpg" alt="veronica">
         
           </div>
           <div class="details">
             <div class="name">VERÓNICA FALLOCA</div>
             <div class="job">PSICÓLOGA - PERITO JUDICIAL</div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
           
           </div>
           
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/assets/img/martin.jpg" alt="">
        
           </div>
           <div class="details">
             <div class="name">MARTÍN SEBASTIÁN CORREA</div>
             <div class="job">LICENCIADO EN INFORMÁTICA - PERITO JUDICIAL
            </div>
           </div>
           <div class="media-icons">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
           
           </div>
           
         </div>
        </div>
      </div>
    </div>
    <div class="button">
      <label for="one" class=" active one"></label>
      <label for="two" class="two"></label>
    </div>
  </div>

  <script src="/assets/js/nosotro.js"></script>
</body>
</html>
